trans-time = 0.2s

chapp_wrapper *
	box-sizing border-box

#chapp-form
	width 100% !important
	height 40px !important
	left 0px
	bottom 0px
	right 0px
	position fixed !important
	padding 0px

#chapp_text
	position fixed !important
	left 0px
	right 0px
	bottom 40px
	height auto
	max-height 100px
	width 100%

#chapp_text p
	margin 3px
	font-family 'Open Sans'
	text-shadow 1px 1px white


#chapp-input
	width 100% !important
	height 100% !important
	font-size 20px
	padding-left 10px
	position relative !important
	outline none !important
