editor-width = 35%
editor-min = 270px
editor-max = 500px
editor-margin = 10px

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	transition arguments

#apphatch *
	z-index 2147483647

#editor
	top 0px
	width editor-width
	height 0px
	overflow visible


#editor.left
	left editor-margin
	
#editor.right
	right editor-margin

#overlay, #editor
	position fixed

#overlay
	cursor default
	top 0px
	bottom 0px
	left 0px
	right 0px
	width 100%
	height 100%
	overflow auto
	background transparent url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') repeat


#editor, #editor *
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box


#editor.left > div, #editor.left > pre
	float left


#editor.right > div.value
	text-align right 

#editor.right > div, #editor.right > pre
	float right


#editor div[contenteditable], #editor pre[contenteditable]
	cursor text


#editor div.mode:hover, #editor [contenteditable]:hover, #editor [contenteditable]:focus 
	color #000


#editor > div
#editor > pre
	clear both
	
#editor > div.value
#editor > div.header
#editor > div.name
#editor > div.button
	text-shadow 1px 1px rgba(255,255,255,1)
	transition color 100ms ease-in-out

#editor > div.value
	font-family "Source Code Pro", "Courier New", Courier, monospace 
	font-size 14px
	line-height 20px
	min-width 40px
	border 0px
	background-color transparent
	color #aaa
	outline none
	max-width editor-max
	

#editor div.name, #editor div.header
	font-family Syncopate, arial, helvetica, sans-serif
	font-size 16px 
	margin-top 20px

#editor div.header
	color #555

#editor div.name
	color #777

#editor div.header
	font-weight 700
	cursor pointer

#editor .ace_editor
	margin 0px
	padding 0px
	width 100%
	min-width editor-min
	max-width editor-max
	height 300px
