div.button i
	color rgba(0,0,0,0.1)
	transition color 0.2s
	margin-top 2px
	margin-bottom 3px
	cursor pointer

div.button i:hover
	color rgba(0,0,0,0.5)

#editor a
	text-decoration none
	cursor pointer
	color inherit

#editor div.style.value a:hover
	text-decoration underline

#editor 
	padding-bottom 50px
