<template name='home'>
	Is this the most invasive plugin ever made? It away takes the need to press the Ctrl+R key. Although my way is much faster. Let's test this. I think they said a second after your last key stroke. On my machine, i5 quad core processor it takes an additional 2-3 seconds to show the results in the browser. In total it takes like 4 seconds to get your page up after you're done. Not bad! However, with fourmint, you can get instant feedback on the page. That is the power of having the development environment so close to the product it is creating.
</template>

<template name='catalog'>
	This is the catalog
</template>

<template name='products'>
	Show products here
</template>